CREATE DATABASE IF NOT EXISTS db
  CHARACTER SET utf8mb4
  COLLATE utf8mb4_unicode_ci;

CREATE USER IF NOT EXISTS 'sam'@'%' IDENTIFIED BY 'sam';

GRANT ALL PRIVILEGES ON db.* TO 'sam'@'%';

FLUSH PRIVILEGES;

USE db;
CREATE TABLE IF NOT EXISTS hello (
    id INT AUTO_INCREMENT PRIMARY KEY,
    msg VARCHAR(100) NOT NULL
);

INSERT INTO hello (msg) VALUES ('Hello World!');
